@{
    ViewData["Title"] = "Random Numbers";
}

<h1>@ViewData["Title"]</h1>

<ul id="ulRandomNumbers"></ul>
<button id="btnGetRandomNumber">Get Random Number</button>

@section Scripts{
    <script src="~/js/homeIndex.js" defer></script>
}
